<div
  class="min-h-screen bg-cover bg-center bg-no-repeat pt-2"
  style="background-image: url('flower.jpg')"
>
  <app-header></app-header>
@if (toastMessage()) {
  <div
    class="fixed top-5 left-1/2 z-50 -translate-x-1/2 rounded-lg bg-green-600 px-6 py-3 font-bold text-white shadow-lg transition-opacity duration-500"
  >
    {{ toastMessage() }}
  </div>
}

<main [class.three-columns]="showAddTask()">

    <div id="users" class="md:col-start-3 md:justify-self-end">
      <app-user [users]="users"        //$ يستقبل المصفوفة من الاب  
      (selectUser)="onselectUser($event)"
      ></app-user>

    </div>


<app-task
  [name]="selectedUser.name"
  [tasks]="selectedUserTasks"
  (openAddTask)="showAddTask.set(true)"
  (deleteTask)="onDeleteTask($event)"
  class="md:col-start-2 md:row-start-1 w-full min-w-0"
></app-task>



@if (showAddTask()) {
<app-add-task
  [userId]="selectedUserId"
  (taskCreated)="onTaskCreated($event)"
  (back)="showAddTask.set(false)"
  class="md:col-start-1 md:row-start-1"
></app-add-task>
}
</main>
</div>

